**/__pycache__
**/**.aux
**/**.log
**/**.pdf
**/**.dat
**/**.db
out
california_housing
mnist
cifar10
shakespearefirstfolio
ancient_greek_theatre
culturay_el
finewebedu
openwebtext
minipile
.DS_Store
src/create_study.py
src/optimization.py
