**/__pycache__
**/**.aux
**/**.log
**/**.pdf
**/**.dat
**/**.db
out
california_housing
mnist
cifar10
tinyimagenet
shakespearefirstfolio
wikitext
ancient_greek_theatre
culturay_el
finewebedu
openwebtext
minipile
.DS_Store
src/create_study.py
src/optimization.py
src/models/ngpt2.py
src/models/ngpt3.py
